.form-group {
	margin-bottom: .4em;
}

.form-input {
	border-radius: 8px;
	padding: 8px 16px;
	width: 100%;
	font-family: var(--font-family);
	font-size: 24px;
	min-height: 1em;
	border: 1px solid #c6c6c6;
	background: #fff;
	outline: none;
	transition: border cubic-bezier(0.4, 0, 0.25, 1) 300ms;
}

.form-input:focus {
	border: 1px solid var(--secondary-color);
	transition: border cubic-bezier(0.4, 0, 0.25, 1) 300ms;
}

.form-number::-webkit-outer-spin-button,
.form-number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-file {}

.form-number {
	-moz-appearance: textfield;
}

.form-required:before {
	margin-left: 2px;
	content: "*";
	color: red;
}

.form-warning {
	margin-left: 3px;
	font-size: 0.7em;
	color: red;
}


.form-file {
}
.form-file::file-selector-button {
	position: absolute;
	right: 0;
	border: none;
	border-left: 1px solid #c6c6c6;
	background: #fff;
	font-size: 1em;
	top: 0;
	bottom: 0;
	height: 1em;
	padding: 0 0.75em;
	border-radius: 1em;
}

.form-file::-ms-browse:hover {
	
}

.form-file::-webkit-file-upload-button:hover {
	
}

.form-file::file-selector-button:hover {
	
}

.form-title {
	font-weight: bold;
}

.form-description {
	font-size: 0.75em;
}