.form-group {
	margin-bottom: .4em;
}

.form-input {
	border-radius: 8px;
	padding: 8px 16px;
	width: 100%;
	font-family: var(--font-family);
	font-size: 24px;
	border: 1px solid #c6c6c6;
	outline: none;
	transition: border cubic-bezier(0.4, 0, 0.25, 1) 300ms;
}

.form-input:focus {
	border: 1px solid #01b2c4;
	transition: border cubic-bezier(0.4, 0, 0.25, 1) 300ms;
}

.form-number::-webkit-outer-spin-button,
.form-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-number {
	-moz-appearance: textfield;
}

.form-required:before {
	margin-left: 2px;
	content: "*";
	color: red;
}
.form-warning {
	margin-left: 3px;
	font-size: 0.7em;
	color: red;
}